*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: antiquewhite;
    height:75px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
   font-size: 2vw;
   font-family: sans-serif;
}
nav ul{
    list-style-type: none;
}

.gamecontainer{
background-color: orange;
 display: flex;
 justify-content: center;
 width: 50%;
 margin: auto;
}
.container{
 display: grid;
 grid-template-rows: repeat(3,10vw);
 grid-template-columns: repeat(3,10vw);
 /* border: 5px solid black; */
 position: relative;
}
.box{
    border: 2px solid black;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(51, 173, 91);
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}
img{
    width: 0;
    transition: width 1s ease-in-out;
}
.detailsGame{
height: 100px;
font-size: 2.5vw;
display: flex;
justify-content: center;
align-items: center;
}
#btnres{
    margin: auto;
    height: 100px;
    width: 200px;
    /* border: 1px solid black; */
}
#reset{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 2vw;
    border-radius: 50px;
    background-color: #911d91;
}
@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .container{
        width: 100%;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}